<h1>Solution to Delmatic Lighting Test!</h1>
<p>
  Please click on the 1st item of the menu bar to run the application
</p>
<p>This is strictly an Angular 8 application, defining ways of selecting different colour lights from a configurable list of lights</p>
<p>I decided to use Chart.js library to provide the base for the light map, which is responsive, as well as elegant. The UI may not be as directly corresponding to the question, but gives an indicator of what needs to be addressed.
  Given enough time, I could actually try building a replica of the map as in question, and mapping out areas of the bitmap to make them clickable.
  However That would not be efficient as building using bitmaps of image surfaces which you then add clickable events is simply time wasting as it takes too long, and can only be used with the same set of lights, otherwise you would need to reconfigure the map.
  </p>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
